<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<appSettings>
	  
		<clear />
	  
		<add key="BaseUrl" value="http://siga.local/" />
		<add key="ApplicationCode" value="1234567890"/>
		
		<!--DATOS DE LA INSTITUCION-->
		<add key="NameInstitution" value="" />
		<add key="LogoInstitution" value="" />
		<add key="BranchCode" value="" />
		<add key="BranchAddress" value="" />
		<add key="YearAcademy" value="" />
	  
		<!--DATOS DE LA SESIÓN-->
		<add key="Auth-Token" value="" />
		<add key="UserName" value="" />
		<add key="UserType" value="" />
		<add key="UserLevel" value="" />
		<add key="UserPictureUrl" value="" />
  
	</appSettings>

</configuration>