<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear />
    <!--DATOS DE LA APLICACION-->
    <add key="BaseUrl" value="http://siga.local/" />
    <add key="ApplicationCode" value="123456789" />
	  
    <!--DATOS DE LA INSTITUCION-->
    <add key="InstitutionCode" value="" />
    <add key="InstitutionName" value="" />
    <add key="InstitutionLogo" value="" />
    <add key="BranchCode" value="" />
    <add key="BranchAddress" value="" />
	  
    <!--DATOS DEL PERIODO-->
    <add key="YearAcademy" value="" />
	  
    <!--DATOS DE LA SESIÓN-->
    <add key="Auth-Token" value="" />
	<add key="User" value="" />
    <add key="UserName" value="" />
    <add key="UserType" value="" />
    <add key="UserLevel" value="" />
    <add key="UserPictureUrl" value="" />
    <add key="Remember_me" value="true" />
  </appSettings>
</configuration>